body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-color: #333;
    display: inline-block;
    color: white;
    padding: 0.5em 1em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  nav ul li {
    padding: 0 15px;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  nav ul li a:hover {
    color: red;
    background-color: transparent;
  }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  

#about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    max-width: 850px;
    margin-top: 100px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-top: 100px;
}

.image {
    flex: 0 1 auto;
    margin-right: 20px;
}

.image img {
    width: 418px;
    height: auto;
}

.text {
    font-size: 1.2em;
    margin: 20px 0;
}

.download-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
    max-width: none;
    text-align: center;
}

.download-button a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.download-button:hover {
    background-color: darkgray;
}

.language-selector {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: auto;
    margin-right: 2em;
}

.language-selector a {
    margin-left: 5px;
}

.language-selector img {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 75%;
    margin-top: 118px;
    padding: 20px;
    box-sizing: border-box;
}

.contact-left {
    margin-top: 71px;
    margin-right: 100px;
    margin-left: 3%;
    width: 622px;
}

#kontakt-x {
    margin-bottom: -100px;
    margin-left: 250px;
    font-size: 25px;
}

#contact-info {
    flex: 1;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    margin-right: 20px;
    text-align: left;
    display: flex;
    margin-top: 140px;
    flex-direction: column;
    justify-content: center;
}

#image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    position: relative;
}

.slider img {
    max-width: 100%;
    max-height: 600px;
    width: auto;
    height: auto;
    margin-top: 20px;
}

.arrow-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 24px;
    color: white;
}

.arrow-button:hover {
    transform: scale(1.2);
}

#prev-btn {
    position: absolute;
    top: 50%;
    left: 500px;
    transform: translateY(-50%);
    z-index: 1; 
    font-size: 50px;
}

#next-btn {
    position: absolute;
    top: 50%;
    right: 500px;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 50px;
}


#image-slider h1 {
    font-size: 2em;
    text-align: center; 
    margin-top: 140px;
}
  

@media screen and (min-width: 600px) and (max-width: 1200px) {
    #prev-btn {
      left: 50px;
      margin-top: -150px;
    }
  
    #next-btn {
      right: 50px;
      margin-top: -150px;
    }
  }

@media screen and (max-width: 600px) {
    #prev-btn {
      left: 10px;
      margin-top: -50px;
    }
  
    #next-btn {
      right: 10px;
      margin-top: -50px;
    }
  }
  
@media screen and (max-width: 600px) {
    .slider img {
      max-width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  
    nav ul {
      flex-direction: row;
    }
  
    nav ul li {
      padding: 0 10px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    #kontakt-x {
      font-size: 40px;
      display: none;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  
    nav ul {
      flex-direction: row;
    }
  
    nav ul li {
      padding: 0 10px;
    }
  
    .language-selector img {
      display: none;
    }
  }
  
  
  

  
  
  @media screen and (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  
    nav ul {
      flex-direction: row;
    }
  
    nav ul li {
      padding: 0 10px;
    }
  
    .language-selector img {
      display: none;
    }
  
    #submit-button {
      font-size: 1.5em;
      padding: 15px 30px;
      background-color: #ffc107;
      color: #000;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 10px;
    }
  
    #submit-button:hover {
      background-color: #e0a800;
    }
  }
  
  
  
  
  
  
  
  
  
